@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* Navbar */
.navbar {
    background-color: #505050;
}

.navbar-nav .nav-link {
    font-size: 20px;
    transition: 0.4s;
    color: #c9b755; 
}

.navbar-nav .nav-link:hover {
    color: #000000; 
}

.navbar-brand img {
    height: 90px; 
    width: 90px; 
}

/* Main Styles */
body {
    background-color: #8f8f8f;
    margin: 0;
    padding: 0;
}

.main {
    background-image: url("/img/presentacion.jpg");
    opacity: 4;
    background-size: cover;
    background-position: center;
    padding: 15px;
    max-width: 1200px; 
    margin: 0 auto; 
}

section {
    margin-bottom: 30px;
    text-align: center;
}

h1 {
    color: #c9b755;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    color: #ffffff;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.main p {
    color: #000000c0;
    line-height: 1.5; 
    background-color: #ffffff3b; 
    border-radius: 10px;
    padding: 10px;
}

#Span{
    color: rgb(16, 0, 107);
}

.call {
    background-color: #ffffff65;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

/* Card Styles */
.cliente {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card {
    background-color: #cccccc;
    border: 1px solid ;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: calc(50% - 20px);
    max-width: 400px;
    margin-bottom: 20px;
}

.img-card{
    background-image: url('/img/carlos\ lopez.jpeg');
    background-size: cover;
    background-position: center;
    height: 150px;
    border: 1px solid ;
    border-radius: 5px;
    margin-bottom: 15px;
}

.img-card2{
    background-image: url('/img/shany\ perez.jpeg');
    background-size: cover;
    background-position: center;
    height: 150px;
    border: 1px solid ;
    border-radius: 5px;
    margin-bottom: 15px;
}

.img-card3 {
    background-image: url('/img/Hely\ arroyo.jpeg');
    background-size: cover;
    background-position: center;
    height: 150px;
    border: 1px solid ;
    border-radius: 5px;
    margin-bottom: 15px;
}

h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    color: #000000;
    font-size: 1rem;
    line-height: 1.5;
}

/* Media queries */
@media only screen and (min-width: 321px) and (max-width: 1200px) {
    .card {
        width: calc(50% - 20px); 
        margin-bottom: 20px;
    }
}

/* Comprar autos */
.Tipautos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.ImgC, .ImgC2, .ImgC3, .ImgC4 {
    max-width: 100%;
    height: 100%;
}

.hdos {
    color: #c9b755; 
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.htres {
    color: #ddd;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

table {
    width: 80%; 
    border-collapse: collapse;
    margin-bottom: 20px;
}

tr {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid #ddd; 
}

td {
    padding: 10px;
}

td:first-child {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Venta de auto */
.Po {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.hdos, .htres {
    margin: 0;
}

.forms {
    margin-top: 20px;
}

.forms div {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

select, input[type="file"], textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit {
    background-color: #4CAF50;
    color: white;
}

.delete {
    background-color: #f44336;
    color: white;
}

/* Footer */
footer {
    color: #c9b755;
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}

/**Usser**/

.pP {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Estilos para el título "Iniciar Sesión" */
.hdos {
    margin-bottom: 20px;
}

/* Estilos para el formulario */
.form {
    display: inline-block;
    text-align: left;
}

/* Estilos para los campos del formulario */
.form div {
    margin-bottom: 20px;
}

/* Estilos para las etiquetas de los campos */
label {
    font-weight: bold;
}

/* Estilos para los campos de entrada y botón */
input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Estilos para el botón */
button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para el artículo de registro */
.Registrate {
    margin-top: 20px;
}

.Registrate p {
    margin: 0;
}

.Registrate a {
    color: blue;
}

.Registrate a:hover {
    text-decoration: underline;
}

/**Register**/

.Pq {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Estilos para el título "Registrarse" */
.hdos {
    margin-bottom: 20px;
}

/* Estilos para el formulario */
.form {
    display: inline-block;
    text-align: left;
}

/* Estilos para los campos del formulario */
.form div {
    margin-bottom: 20px;
}

/* Estilos para las etiquetas de los campos */
label {
    font-weight: bold;
}

/* Estilos para los campos de entrada y botón */
input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Estilos para el artículo de registro */
.Registrate2 {
    margin-top: 20px;
}

.Registrate2 p {
    margin: 0;
}

.Registrate2 a {
    color: blue;
}

.Registrate2 a:hover {
    text-decoration: underline;
}

/* Estilos para el botón */
button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}